.separator {
  position: relative;
  background: white;
  height: 1rem;
  div{
    position: absolute;
    top: -5rem;
    height: 11rem;
    width: 11rem;
    border: 1px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 1.5rem;
    color: #FF4B00;
    text-align: center;
  }
}

.separator-message {
  position: relative;
  top: -6rem;
}

@media only screen and (max-width: 984px) {
  .navbar-collapse {
    background: linear-gradient(90deg, rgba(79,187,240,1) 0%, rgba(102,234,187,1) 100%);
    z-index: 1000;
    font-family: 'nunito';
  }

  .homepage-intro {
    padding-bottom: 5rem!important;
  }

  .despre-noi {
    padding-top: 2rem;
  }

  .contact {
    margin-top: 0!important;
  }

  .proiecte .project {
    height: 700px!important;
  }

  .proiecte p {
    height: auto!important;
  }
}
