.despre-noi {
    // background: linear-gradient(90deg, #DEFAFF 0%, #DEE8FF 100%);
    .timestamp {
        font-size: 1.3rem;
        width: auto;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 1rem;
        background: linear-gradient(90deg, rgba(79,187,240,1) 0%, rgba(102,234,187,1) 100%);
        color: white;
        border-radius: 15px;
    }
    .desc {
        font-family: 'Nunito';
    }
}