.homepage-intro {
  background-image: url('assets/homepage-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0 0 0;
  text-shadow: 2px 2px 2px lightslategray;

  .intro-separator {
    height: 0.2rem;
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 1px lightslategray;
  }

  p {
    word-spacing: 0.5rem;
  }

  @media screen and ( max-width: 991px ) {
    .intro-image {
      display: none;
    }
  }
}