.homepage-intro {
  background-image: url('assets/homepage-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;

  .intro-separator {
    height: 0.2rem;
    width: 25%;
    background-color: white;
  }

  @media screen and ( max-width: 768px ) {
    .intro-image {
      display: none;
    }
  }
}